.gallery {
  background-color: peru;
  width: 320px;
  height: 240px;
  overflow: hidden;
  position: relative;
}

.gallery ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.gallery li {
  list-style: none;
}

.gallery .prev-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
}

.gallery .next-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
}

